.team-info {
  border: 1px solid black;
  box-shadow: 4px 4px 6px black;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(66,66,66, 0.75);
  margin: 2% 2% 4%;
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-justify: center;
  border-radius: 5%;
}

.team-name {
  border-bottom: 1px solid #bdbdbd;
  font-size: 5vh;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.team-text {
  padding: 0 5%;
}