.user-task-info {
  border: 1px solid black;
  box-shadow: 4px 4px 6px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255, 0.75);
  margin: 2% 2% 4%;
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-task-text {
  font-family: "lucida console", "sans serif";
  font-size: 120%;
  border-radius: 5%;
  background: rgb(255, 255, 255, 0.75);
  color: #424242;
}

.list-group-item {
  background: rgb(255, 255, 255, 0.75);
}

.usertask-delete-btn {
  transition: transform 0.1s;
  background: #658F2A;
  float: right;
}

.usertask-delete-btn:hover {
  transform: scale(1.05);
  background: #BD211C;
}