.navCard {
  background: #F6E2B2;
  border: 1px solid #FFFDD0;
}

.navHeading {
  min-height: 4em;
  line-height: 1em;
  font-size: 1.2rem;
  color: #FFFDD0;
  padding: 0 2em;
}

.navHeader a:hover {
  opacity: 100%;
}

.navHeader {
  transition: transform 0.2s;
  transition: background-color 1s ease-out 100ms;
}

.navHeader a:hover {
  transform: scale(1.025);
}

.navHeader active {
  color: #F6E2B2;
  background: #FFFDD0;
}

.navHeader a {
  color: #FFFDD0;
}

.navHeader a:hover {
  color: white;
}

.navbar {
  background-color: rgba(222, 122, 24, 0.75);;
  z-index: 1;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.left-nav a,
.right-nav a {
  color: #F6E2B2;
}

.left-nav a:hover,
.right-nav a:hover {
  color: white;
}

.show .dropdown-item {
  color: #424242;
}

.show .dropdown-item:hover {
  background: rgba(211, 211, 211, 0.75);
  color: black;
}