.pitch-card {
  border: 2px solid #BD211C;
  background: #424242;
  color: #bdbdbd;
  box-shadow: 2px 2px 6px solid black;
  margin-top: 2%;
  padding: 2%;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}