/* || LOGO & ANIMATED SANDWICH STYLE || */

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-out;
  margin-top: 20%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.image-wrapper:hover .top-image {
  transform: translateY(-5vh);
}

.image-wrapper:hover .bottom-image {
  transform: translateY(5vh);
}

.top-image {
  position: absolute;
  height: 10vh;
  width: 30vw;
  top: 0;
  transition: transform 0.3s ease-out;}

.bottom-image {
  position: absolute;
  height: 10vh;
  width: 30vw;
  bottom: 0;
  transition: transform 0.3s ease-out;
}

.title-name {
  z-index: -1;
  /* height: 10vh; */
  /* width: 25vw; */
  font-family: 'Amatic SC', cursive;
}