.home-outer-container {
  display: flex;
  flex-direction: column;
}

.pitch-card {
  border: 2px solid #BD211C;
  background: #424242;
  color: #bdbdbd;
  box-shadow: 2px 2px 6px solid black;
  margin: 2%;
  padding: 2%;
  font-family: cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
}

.home-login-signup-btn {
  border: 2px solid #BD211C;
  padding: 2%;
  border-radius: 10vh;
  background: #F6BC01;
  color: #424242;
  transition: transform 0.3s;
}

.home-login-signup-btn:hover {
  transform: scale(1.20);
  color: #BD211C;
}

.hero-word {
  text-decoration: underline;
  color: #F6BC01;
}

.home-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "lucida console", cursive;
  /* font-family: 'Amatic SC', cursive; */
  margin: 1%;
  padding: 0 5%;
}

.gif-card {
  border: 2px solid black;
  border-radius: 5vh;
  padding: 2%;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  background: #424242;
  color: #bdbdbd;
}

.task-gif,
.team-gif,
.sandwich-gif {
  width: 50%;
  margin: 2%;
}

.team-gif {
  margin-left: auto;
}

.gif-card h3 {
  align-self: center;
}

.gif-title {
  text-decoration: underline;
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
}

@media (max-width: 1240px) {
  .home-gif {
    width: 75%;
    margin-right: 2%;
  }
}

@media (max-width: 770px) {
  .home-gif {
    width: 100%;
    margin-left: auto;
  }
}