.footer {
background: #424242;
height: 15vh;
display: flex;
width: 100%;
/* justify-content: space-between; */
align-items: center;
}

.footer a img {
height: 2vh;
width: 2vh;
border-radius: 10%;
margin-right: .75em;
}

.footer a {
margin: 0;
color: #bdbdbd;
}

.footer a:hover {
color: #FFFDD0;
}

.footerZoom {
transition: transform 0.2s;
}

.footerZoom:hover {
transform: scale(1.25);
}

.footerLinks {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #bdbdbd;
  position: absolute;
  right: 0;
  margin: 1vw;
}

.footerLinks a {
/* float: right; */
padding: 1vh 4vh;
}

.footerDocs1 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #bdbdbd;
  position: absolute;
  left: 0;
  margin: 1vh;
}

.footerDocs1 a {
  float: right;
  padding: 2vh 2vw;
}

.footerDocs2 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  position: absolute;
  left: 35vw;
  margin: 1vh;
}

.footerDocs2 a {
  /* float: right; */
  padding: 2vh 6vw;
}