table {
    border-collapse: collapse;
    /* width: 30%; */
  }
  
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

/* #calendar {
  width: 30%;
} */

#calendarHeader {
  display: flex;
}

#currentMonth,
#calendarHeader button {
  display: inline-block;
  margin: 5px
}

.calendar-card {
  border-radius: 5%;
  box-shadow: 4px 4px 6px black;
  margin-bottom: 2vh;
}

.react-calendar-outmost-div {
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 4px 4px 6px black; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #424242;
  margin: 4% 2% 2%;
  padding: 5%;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.calendar-title {
  color: #bdbdbd;
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
  text-decoration: underline;
}

.calendar-selected-date-text {
  color: #bdbdbd;
  font-family: 'Amatic SC', cursive;
  font-size: 150%;
}