.team-task-info {
  border: 1px solid black;
  box-shadow: 4px 4px 6px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  margin: 2% 2% 4%;
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-task-text {
  font-family: "lucida console", "sans serif";
  font-size: 120%;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.75);
  color: #424242;
}

.teamtask-delete-btn {
  transition: transform 0.1s;
  background: rgba(101, 143, 42, 0.75);
  float: right;
}

.teamtask-delete-btn:hover {
  transform: scale(1.05);
  background: rgba(189, 33, 28, 0.75);
}