/* || LOGO & ANIMATED SANDWICH STYLE || */

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6E2B2;
  width: 100%;
  min-height: 170px;
  max-height: auto;
  margin-top: -10px;
  margin-bottom: -12px;
}

/* .sandwich-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6E2B2;
  width: 100%;
  height: 240px;
} */

.image-wrapper:hover .bottom-image {
  transform: translateY(52px);
  transition: transform 0.3s ease-out;
}

.top-image {
  height: 60px;
  top: 0;
  margin-top: 10px;
  /* z-index: 1; */
}

.bottom-image {
  position: absolute;
  height: 60px;
  transition: transform 0.3s ease-out;
  z-index: 2;
  margin-top: -64px;
}

.title-link {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.title-name {
  /* z-index: 0; */
  font-family: 'Amatic SC', cursive;
  font-size: 500%;
  margin-top: -6px;
  color: #424242;
}

.title-slogan {
  /* z-index: 0; */
  font-family: 'Amatic SC', cursive;
  font-size: 200%;
  color: #424242;
}