.header {
  background: #424242;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .header a h1 {
  margin: 0;
  padding-top: 1%;
  text-align: center;
  color: #bdbdbd;
  font-size: 3rem;
} */

/* || LOGO & ANIMATED SANDWICH STYLE || */

.image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-out;
  /* margin-top: -1%; */
  /* height: 36vh; */
  justify-content: center;
  align-items: center;
  background: #F6E2B2;
  margin-bottom: -2.5vh;
  /* width: 30vw; */
}

/* .image-wrapper:hover .top-image {
  transform: translateY(-5vh);
} */

.image-wrapper:hover .bottom-image {
  transform: translateY(8vh);
}

.top-image {
  /* position: absolute; */
  height: 10vh;
  width: 30vw;
  top: 0;
  transition: transform 0.3s ease-out;
  margin-top: 1vh;
  z-index: 1;
}

.bottom-image {
  position: absolute;
  height: 10vh;
  width: 30vw;
  bottom: 2vh;
  transition: transform 0.3s ease-out;
  z-index: 1;
}

.title-link {
  display: flex;
  justify-content: center;
}

.title-name {
  z-index: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  /* font-size: 400%; */
  margin-top: -1vh;
  color: #424242;
  /* padding: -30vw; */
}

.title-slogan {
  z-index: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: #424242;
  margin-top: -4vh;
}